body {
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #cdcaca;
}

th {
    background-color: #3498db;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border: none;
    font-size: 14px;
}

.btn-primary { background-color: #0e6e36; color: white; }
.btn-warning { background-color: #423c36; color: white; }
.btn-danger { background-color: #e74c3c; color: white; }

.btn:hover { opacity: 0.8; }

.action-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.action-buttons form{
    margin: 0;
    display: inline;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b0afaf;
    border-radius: 5px;
    box-sizing: border-box; 
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.form-card {
    background: white;
    width: 100%;
    max-width: 450px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-card h2 {
    margin-top: 0;
    color: #616060;
    text-align: center;
    border-bottom: 2px solid #1eb0e0; 
    padding-bottom: 10px;
    margin-bottom: 25px;
}


.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #727171;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #c3c1c1;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 16px;
}

.input-group input:focus {
    border-color: #0099cc;
    outline: none;
    box-shadow: 0 0 5px rgba(2, 127, 169, 0.3);
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.btn-save {
    background-color: #1a5928; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #2d9042;
}

.btn-cancel {
    text-align: center;
    text-decoration: none;
    color: #605c5c;
    font-size: 14px;
    padding: 8px;
}

.btn-cancel:hover {
    color: #99201c;
}