<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <a href="/product">Create One</a>
    <br>
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% if not product_list %}
            <tr>
                <td colspan="3" >No Record.</td>
            </tr>
            {% endif %}

            {% for product in product_list %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <form method="post" action="/product/{{ loop.index0 }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>