
{% extends "base.html" %}
{% block title %}Product List{% endblock %}
{% block body %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Product List</h2>
        <a href="{{ url_for('create_product') }}" class="btn btn-primary">Add New Product</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} Ks</td>
                <td class="action-buttons">
                    <a href="{{ url_for('edit_product', index=loop.index0) }}" class="btn btn-warning">Edit</a>
                    <form action="{{ url_for('delete_product', index=loop.index0) }}" method="POST" style="display:inline;">
                        <button class="btn btn-danger" onclick="return confirm('Are you sure want to delete this product?')">Delete</button>
                    </form>
                </td>
                <tr>
                {% else %}
                </tr>
                <td colspan="3" style="text-align: center; color: rgb(16, 11, 11);">
                    <h3>Empty product</h3>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}